.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#exampleSelect1{
  width: 100%;
  height: 40px;
}
#calendario{
  width: 172px !important;
  height: 41px !important;
}

#showmobile:hover{
  color: orange;
}

#facturaEstatus{
  color: black;;
}

#tarjetaInicio{
  width: 18rem;
}
#imagenDashboardInicio{
  width: 200px;
  
  
}
#imagenDashboardInicio2{
  width: 200px;
}
.title i{
  font-size: 15px
}
@media screen and (max-width: 700px) {
#calendario{
  width: 91px !important;
  height: 41px !important;
}
}

#factura{
  background-color: white !important;
}

#SeccionFactura{
  padding-bottom: 0px !important;
}

#alerta{
  font-size: 15px;
  margin-bottom: 0 !important;
  color: red;
}

#Acerca{
  background-image: url("./assets/IMG/acercade2.png");
}
#MenuPagina{
  background-image: url("./assets/IMG/menu.png");
}
#Factura{
  background-image: url("./assets/IMG/factura.png");
}
#reservaciones{
  height: 800px;
	width:auto;
	border: 1px solid #ddd;
	/*-y: scroll;*/
}
.table {
  max-height: 800px;
 /* overflow: auto;*/
}
#dashboard{
/*overflow: hidden;*/
}

#tituloslider{
  font-family: 'Latin';
  font-size: 3.3rem;
  color: white;
}
#subtituloslider{
 
  font-size: 1.5rem;
  color: white;
}

#reservacionesDashboard{
  position: fixed;
  width: 80%;
  height: 80%;
  overflow: scroll;
}
#facturasDashboard{
 position: fixed;
 width: 80%;
 height: 80%;
 overflow: scroll;
}
#linkFooter{
  color: white;
}

#nuevosPlatillosMovil{
  display: none;
}
#menuMovil{
  display: none;
}
@media screen and (max-width: 700px) {
  #nuevosPlatillosMovil{
    display: block;
    padding-bottom: 0px !important;
  }
  #tituloslider{
    font-family: 'Latin';
    font-size: 24px;
    color: white;
  }
  #subtituloslider{
 
    font-size: 18px;
    color: white;
    line-height : 25px;
  }
  #recomendaciones{
    display: none;
  }

  #nuevosPlatillosDesktop{
    display: none;
  }
  #botonReservacionFooter{
    display: none;
  }
  #menuDesktop{
    display: none;
  }
  #menuMovil{
    display: block;
  }

  #showmobile:hover{
    color: orange;
  }
  .title i{
    font-size: 15px
  }

  }